header{

    background-color: #F2EA79;
height: 100px;
display: flex;
justify-content: space-between;

}

#photoLogo{

    height: 100px;
}


.iconesHeader{

    height: 50px;
    margin-top: 25px;
}


#divHeader{

    display: flex;
    justify-content: space-between;
}