header{

    background-color: #F2EA79;
height: 100px;
display: flex;
justify-content: space-between;

}

#photoLogo{

    height: 100px;
}


.iconesHeader{

    height: 50px;
    margin-top: 25px;
}


#divHeader{

    display: flex;
    justify-content: space-between;
}

footer{

    height: 200px;
    background-color: #757572;
    display: flex;
    justify-content: space-around;
}

#photoFooter{

    border-radius: 20px;
    height: 150px;
    width: 150px;
}
.divFooter{

    margin-top: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{

    color: white;
}

main{


    background-image:url(../images/fondFlou.png) ;

    min-height: 1000px;
    background-size: cover;
    
}


#menu{

    position: fixed;

    top: 0;
    left: -250px;

    width: 250px;
    height: 100vh;

    background: black;

    transition: 0.3s;

    z-index: 999;

    padding-top: 100px;

}


#menu.active{

    left: 0;

}


#menu a{

    display: block;

    color: white;

    padding: 20px;

    text-decoration: none;

    font-size: 22px;

}


#iconeFermer{

    height: 40px;
    width: 50px;
    margin-right: 20px;
}

#fermerMenu{
    text-align: right;
   
}

#divBarre{

    background-color: rgba(0, 0, 0,0.6);
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    
    
}


.bBarre{
    margin-top: 10px;

    border-radius: 10px;

    height: 30px;
    width: 200px;
    background-color: #225B85;
    color: white;
    cursor: pointer;
}

#sectionInputClient{


    height: 450px;

    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
}

h1{
    color: white;
    text-align: center;
}

#divFormClient{

    background-color:rgba(117, 111, 111, 0.6);
    height: 350px;
    width: 1700px;
    margin-top: 50px;
    border-radius: 20px;
}

.input{

    width: 400px;
    border-radius: 20px;
    height: 50px;
    font-size: 20px;
    
}

#bSummit{

    width: 300px;
    border-radius: 20px;
    height: 50px;
    background-color: #225B85;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.divInput{
margin-top: 30px;
    display:flex ;
    justify-content: space-around;
}

#divButton{

    display: flex;
    justify-content: center;

    margin-top: 30px;
}

#messageInput{

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#sectionListe{

    background-color:rgba(0, 0, 0,0.5) ;
    min-height: 120px;
}

th{
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 22px;
    border-right: 2px solid lightgrey;
    text-align: center;

    
}
table{
    width: 100%;
    table-layout: fixed;
}

td{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

#bActualiser{

    border-radius: 20px;
    height: 30px;
    color: white;
    background-color: #225B85;
    width: 150px;
    cursor: pointer;
}

.bSupprimer{

 border-radius: 20px;
    height: 30px;
    color: white;
    background-color: red;
    width: 150px;

   
    cursor: pointer;


}

#message{

    font-size: 25px;
}

.bMenu{

    cursor: pointer;
}
#containerBienvenue{
margin-top: 50px;
    height: 400px;
    background-color: #D4CFCD;
    width: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
}

#divBienvenue{
    margin-top: 23px;

    background-color: white;
    border-radius: 30px;
    height: 350px;
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#divBIndex{

display: flex;
justify-content: space-around;
margin-top: 100px;
}

.bIndex{

    width: 300px;
    height: 70px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0,0.8);
    cursor: pointer;
    font-size: 20px;
}

#sectionInputEvenement{

    background-color: rgba(0, 0, 0,0.5);
    height: 400px;
    width: 1000px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    

}

#divFormEvenement{

    background-color:rgba(117, 111, 111, 0.6);
    height: 325px;
    width: 920px;
    margin-top: 35px;
    border-radius: 30px;
   

}

#divTexte{

    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#divInputEvenement{
display: flex;
justify-content: center;
margin-top: 30px;
}

#inputEvenement{

    border-radius: 20px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;

}

#divButtonEvenement{
margin-top: 50px;
display: flex;
justify-content: space-around;

}

.bEvenement{
border-radius: 20px;
background-color: #225B85;
color: white;
height: 40px;
width: 250px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
cursor: pointer;
}

#container{

    display: flex;
    justify-content: center;
}

